body {
    background-color: #9CCFFF;
}



.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: #FF5B5B;
    border-radius: 2rem;
    margin-top: 3rem;
    box-shadow: 10px 10px 6px #685AFF;
}

#image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 100px;
}

.image-card {
        display: flex;
        flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
}

.image-card p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FF5B5B;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.5rem;
}

img {
    width: auto;
    height: 220px;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px 3px #FF5B5B;
    transition: transform 0.3s ease;   
}

img:hover {
transform: scale(1.3);
}

.scroll-to-top{
 position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border: none;


  background-color:#FF5B5B;
  color:#fff;
  border-radius: 3rem;


  cursor: pointer;
  font-size: 3rem;
  display: none; /* doesn't show until you scroll */
  justify-content: center;
  align-items: center;
 
}

.scroll-to-top.show {
  display: flex; /* shows button when u scroll */

}

.load-more {
    margin: 0 auto;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    background-color: #FF5B5B;
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 10px 10px 6px#685AFF;


   
}






/* media query for responsiveness */
@media (max-width: 1024px) {
    #image-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding: 60px;
    }
}


@media (max-width: 768px) {
    #image-container {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
        justify-items: center;
    }
    .header h1 {
        text-align: center;
    }

}